#page-landing {
    background: linear-gradient(329.54deg, #29b6d1 0%, #00c7c7 100%);

    text-align: center;
    min-height: 100vh;

    display: flex;
}

#container {
    /* O margin: auto alinha tudo em relação a right, left, top e bottom */
    /* Já o align-items é só em relação ou a right/left ou a top/bottom */
    margin: auto;
    width: 90%;
}

.location, h1, .visit p {
    height: 16vh;
}

.visit a {
    width: 8rem;
    height: 8rem;
    background: #ffd666;
    
    border: none;
    border-radius: 3rem;
    
    display: flex;
    /* Como o flex-direction é row, o align-items: center mexe com o alinhamento do top/bottom */
    /* E por ser flex-direction, o justify-content: center mexe com o alinhamento do right/left */
    align-items: center;
    justify-content: center;
    /* O margin: auto é um alinhamento em relação a caixa no geral */
    /* Já o align-items e justify-content é em relação ao conteúdo */
    margin: auto;

    transition: background 200ms;
}

.visit a:hover {
    background: #96feff;
}

#logo {
    animation-delay: 50ms;
}

.location {
    animation-delay: 100ms;
}

main h1 {
    animation-delay: 150ms;
}

.visit p {
    animation-delay: 200ms;
}

.visit a {
    animation-delay: 250ms;
}